* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #ffc40c;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    text-align: center;
}

.form-toggle {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.form-toggle button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    padding: 10px;
    transition: background 0.3s;
}

.form-toggle button:hover {
    background: #ddd;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

.form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: #ffc40c;
    color: white;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: #4cae4c;
}

.hidden {
    display: none;
}
